* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", serif;
  box-sizing: border-box;
}

header {
  display: flex;
}
header .container-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5em;
  height: 2.5em;
  width: 100%;
  background-color: #409060;
  position: fixed;
  z-index: 10;
  box-shadow: 10px 0 40px #000;
}
header .navbar__responsive {
  display: none;
}
header .nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #409060;
}
header .nav-bar a {
  font-size: 1em;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin: 1em;
  padding: 1px 1em;
}
header .nav-bar a:hover {
  color: #fff;
}
header .nav-bar ul {
  margin-bottom: 0;
}
header .nav-bar .logo__empresa {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  align-items: center;
  margin: 0 0.5em;
}

.container__titulo {
  margin-top: 3.5em;
  padding: 0.6em;
  width: 100%;
  font-size: 0.7em;
  font-weight: 800;
  text-align: center;
  color: #409060;
  background-color: #000;
}
.container__titulo .titulo {
  font-size: 1.8em;
}

.container-bienvenida {
  margin: auto;
  width: 100%;
  height: 30em;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/atletacorriendo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-bienvenida .subtitulo-bienvenida {
  font-size: 1.2em;
  padding: 30px;
  color: #fff;
  text-shadow: 6px 6px 4px #000000;
  top: 400px;
}
.container-bienvenida .bienvenida {
  width: 70%;
  margin: 1em;
  font-size: 1.1em;
  color: #fff;
  text-shadow: 6px 6px 4px #000000;
  bottom: 500px;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: 120px;
}

.subtitulo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  padding: 10px;
}

.container-image {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  height: 25em;
}
.container-image .image-item {
  text-align: center;
  height: 15em;
  margin: 10px;
}
.container-image .image-item .image-producto {
  height: 22em;
  border-radius: 10px;
}

.container-button-ver {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container-button-ver .button-ver {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 0.7em;
  border-radius: 80px;
  font-weight: normal;
  text-decoration: none;
  padding: 10px 50px;
}

.carousel {
  display: none;
}

.promociones {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}
.promociones .container__subtitulo--promociones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 30em;
  background-image: url(../assets/fondo-pared.jpg);
  background-size: cover;
  color: #fff;
}
.promociones .btn__descuentos {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1em;
  color: #409060;
  background-color: rgba(64, 144, 96, 0.3019607843);
  border-radius: 45px;
  margin: 10px;
  padding: 10px 40px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.promociones .btn__descuentos:hover {
  color: rgba(22, 47, 32, 0.8941176471);
  background-color: rgba(95, 204, 139, 0.8274509804);
}
.promociones .container__subtitulo--imagen {
  width: 20em;
  height: 30em;
  object-fit: contain;
  background-image: url(../assets/imagen-promociones.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h3 {
  text-align: center;
  margin: 2em;
}

.promos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  border: 2px solid #ccc;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  padding: 1em;
}
.promos .image-promo {
  width: 10em;
  height: 10em;
}
.promos .container-descripcion {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}
.promos .container-descripcion .descripcion-p {
  font-size: 0.8em;
  font-weight: 700;
  margin: 20px;
}
.promos .container-descripcion .price {
  color: #409060;
  font-size: 0.7em;
  margin: 23px;
}
.promos .container-descripcion .button__promo {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-top: 40px;
  font-size: 0.7em;
  padding: 0.5em 1em;
  border: 2px solid #409060;
  border-radius: 50px;
  color: #409060;
  font-weight: bold;
}
.promos .container-descripcion .button__promo:hover {
  transform: scale(1.2);
  color: #fff;
}

.container-opinion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-opinion .card-opinion {
  display: flex;
  flex-direction: column;
  background-color: #f2ecdc;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 15em;
  border: 4px solid #f2ecdc;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 1em 1em;
  box-shadow: 0 0 6px #000;
}
.container-opinion .card-opinion:hover {
  transform: scale(1.1);
}
.container-opinion .card-opinion .image-opinion {
  margin: 0 1em;
  padding: 10px;
  width: 8em;
  height: 7em;
  border-radius: 50% 50%;
  background-color: transparent;
}
.container-opinion .card-opinion .card-opinion__stars {
  width: 60%;
  margin: 10px;
}
.container-opinion .card-opinion .opinion {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 0.6em;
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: row;
  height: 11em;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #409060;
}
footer .icon__container {
  display: flex;
}
footer .icon__container .icon__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  padding: 0.5em;
  font-size: 2em;
}
footer .icon__container .icon__footer:hover {
  transform: scale(1.2);
  color: #fff;
}

.flecha__arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.flecha__arriba .ir-arriba {
  font-size: 1em;
  color: #409060;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.flecha__arriba .ir-arriba .custom__flecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #409060;
  font-size: 1.5em;
  margin: auto;
}
.flecha__arriba .ir-arriba .custom__flecha:hover {
  transform: scale(1.3);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

h3[id] {
  scroll-margin-top: 2.5em;
}

.container__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "busqueda galeria galeria galeria";
}
.container__grid .container-filtro {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 0.5em 1em;
  grid-area: "busqueda";
}
.container__grid .container-filtro .info__categorias {
  display: flex;
  width: 100%;
  font-size: 1em;
  flex-direction: column;
  text-align: initial;
}
.container__grid .container-filtro label {
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
.container__grid .container-filtro select {
  font-size: 0.7em;
  padding: 0.75em;
  border-radius: 75px;
  width: 70%;
}
.container__grid .container-filtro select:hover {
  box-shadow: 0 0 8px #409060;
}
.container__grid .container-filtro select:focus {
  border: 3px solid #409060;
}

.galeria {
  grid-area: "galeria";
}
.galeria h3 {
  border-bottom: 4px solid #409060;
}
.galeria .container-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}
.galeria .container-productos .custom__card {
  margin: 1em;
  padding: 1px;
  height: 16em;
  box-shadow: 5px 5px 20px #ccc;
}
.galeria .container-productos .custom__card img {
  margin: auto;
  width: 100%;
  height: 9em;
}
.galeria .container-productos .custom__card button {
  width: 30%;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  padding: 0.5em 1em;
}
.galeria .container-productos .custom__card:hover {
  transform: scale(1.1);
}
.galeria .container-productos .descripcion-p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0em;
  padding: 1px;
}
.galeria .container-productos .price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0em;
  padding: 1px;
}

.descuentos h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.descuentos .container-descuentos {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(245, 245, 220, 0.403);
  padding: 40px 0;
}

/*seccion contacto*/
.container__contacto {
  display: flex;
  flex-direction: column;
  height: 30em;
  width: 100%;
}
.container__contacto .subtitulo__contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50em;
  margin-top: 1em;
  font-size: 2em;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/imagen-contacto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container__contacto .texto__contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 22em;
  font-size: 0.8em;
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}
.container__contacto .texto__contacto p {
  width: 80%;
  height: 15em;
  padding: 10px;
}
.container__contacto .texto__contacto span {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  height: 21em;
}
.container__info .card__info {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 200px;
  background-color: rgba(238, 238, 238, 0.6666666667);
  box-shadow: 2px 2px 10px;
}
.container__info .card__info img {
  width: 1.5em;
  height: 1.5em;
}
.container__info .card__info p {
  font-size: 0.8em;
  margin: 15px;
}
.container__info .mapa {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.container__sugerencias {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container__sugerencias .subtitulo__sugerencias {
  font-size: 0.8em;
}
.container__sugerencias .subtitulo__sugerencias h2 {
  margin: 40px;
  font-size: 2em;
}
.container__sugerencias .subtitulo__sugerencias p {
  width: 70%;
  margin: 30px auto;
}

.form {
  border: 2px solid #ccc;
  width: 70%;
  padding: 20px;
  background-color: #eee;
  border-radius: 25px;
}

.container__preguntas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  margin-bottom: 30px;
}
.container__preguntas .subtitulo__preguntas {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}
.container__preguntas .subtitulo__preguntas .custom__preguntas {
  font-size: 0.4em;
  font-weight: bold;
  background-color: rgba(64, 144, 96, 0.0901960784);
}
.container__preguntas .subtitulo__preguntas .custom__respuestas {
  font-size: 0.8em;
  text-align: initial;
}

/*responsive*/
/*version tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-logo .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .container-logo .nav-bar a {
    font-size: 0.9em;
  }
  .nav-bar__responsive {
    display: none;
  }
  .container__titulo {
    margin-top: 5em;
  }
  .container__titulo .titulo {
    font-size: 1.3em;
  }
  .container-bienvenida {
    height: 20em;
  }
  .container-bienvenida .subtitulo-bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
  }
  .container-bienvenida .bienvenida {
    width: 80%;
    margin: auto;
    font-size: 0.8em;
    text-align: center;
  }
  section .container-image {
    height: 20em;
    display: none;
  }
  section .container-image .image-producto {
    height: 18em;
  }
  section .carousel {
    display: block;
  }
  section .container__subtitulo--promociones {
    width: 100%;
    height: 20em;
    margin: auto;
  }
  section .container__subtitulo--imagen {
    display: none;
  }
  .container-opinion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .icon__footer {
    text-align: center;
    font-size: 0.8em;
  }
  .container__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .container__grid .container-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__grid .container-filtro .info__categorias {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__grid .galeria .container-productos {
    margin: 0;
  }
  .container__grid .galeria .container-productos .custom__card {
    margin: 20px;
  }
  .descuentos .container-descuentos {
    flex-wrap: wrap;
    object-fit: cover;
  }
  .container__contacto .texto__contacto {
    width: 100%;
  }
  .container__contacto .container__info {
    width: 100%;
    height: 21em;
  }
  .container__contacto .container__info .card__info {
    width: 80%;
  }
  .container__sugerencias .form {
    width: 80%;
  }
}
/*version mobile*/
@media screen and (max-width: 575px) {
  header .nav-bar {
    display: none;
  }
  header .navbar__responsive {
    display: flex;
    z-index: 20;
  }
  header .navbar__responsive .custom__navbar {
    padding: 0.5px;
  }
  .container-bienvenida {
    height: 20em;
  }
  .container-bienvenida .subtitulo-bienvenida {
    text-align: center;
    font-size: 0.8em;
  }
  .container-bienvenida .bienvenida {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
  }
  .container-image {
    display: none;
  }
  .container-image .image-item {
    display: none;
  }
  .carousel {
    display: block;
  }
  .carousel .custom__carousel {
    height: 25em;
  }
  .promociones .container__subtitulo--promociones {
    width: 100%;
    height: 20em;
  }
  .promociones .container__subtitulo--imagen {
    display: none;
  }
  .container-opinion {
    display: flex;
    flex-wrap: wrap;
  }
  .container-opinion .card-opinion {
    width: 8em;
    height: 10em;
  }
  .container-opinion .card-opinion .image-opinion {
    display: none;
  }
  .container-opinion .card-opinion .opinion {
    display: flex;
    margin: auto;
    font-size: 0.5em;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .icon__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px;
  }
  footer .icon__container .icon__footer {
    font-size: 2em;
    margin: 0;
  }
  footer .flecha__arriba {
    width: 50%;
    height: 50%;
  }
  footer .flecha__arriba .ir-arriba {
    font-size: 1em;
    width: 50%;
  }
  footer .flecha__arriba .ir-arriba .custom__flecha {
    display: flex;
    font-size: 1.5em;
    color: #fff;
  }
  /*productos*/
  .container__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descuentos .container-descuentos {
    display: flex;
    flex-wrap: wrap;
  }
  /*contacto*/
  .container__contacto .texto__contacto {
    width: 100%;
  }
  .container__contacto .texto__contacto p {
    width: 100%;
    height: 17em;
  }
  .container__info {
    width: 100%;
    height: 18em;
  }
  .container__info .card__info {
    width: 80%;
  }
  .container__info .mapa {
    width: 20em;
    margin-bottom: 40px;
  }
  .container__sugerencias .subtitulo__sugerencias p {
    width: 90%;
    margin: 10px auto;
  }
  .container__sugerencias .form {
    width: 90%;
  }
  .container__sugerencias .form custom__form {
    font-size: 0.8em;
  }
  .container__preguntas {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=main.css.map */
