//variables - paleta
$verde: #409060;
$negro: #000;
$blanco: #fff;

footer{
    display: flex;
    flex-direction: row;
    height: 11em;
    justify-content: center;
    align-items:center;
    background-color: $negro;
    color: $verde;
        .icon__container{
            display: flex;
                .icon__footer{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 25%;
                    padding: 0.5em;
                    font-size: 2em;
                        &:hover{
                            transform: scale(1.2);
                            color: $blanco;
                        }
                }
        }
}
.flecha__arriba{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
        .ir-arriba{
            font-size: 1em;
            color: $verde;
            border-radius: 15px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
                .custom__flecha{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: $verde;
                    font-size: 1.5em;
                    margin: auto;
                        &:hover{
                            transform: scale(1.3);
                            color: $blanco;
                        }
                }
        }
}